<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540943510502-ofvn98bjdbetakhqaejthi192keq6gbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540943510502-ofvn98bjdbetakhqaejthi192keq6gbs</string>
	<key>API_KEY</key>
	<string>AIzaSyCTlpyLFLfBVcOM7XcbtMmyyhfuOTZxjps</string>
	<key>GCM_SENDER_ID</key>
	<string>540943510502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-f919d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-f919d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540943510502:ios:9a1c248a4b30bbf6d14427</string>
</dict>
</plist>